@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.ball {
    /* 1. animation-name: ping-pong */
    /* 2. animation-duration: 6s (3s bounce + 3s pause) */
    /* 3. animation-timing-function: ease-in-out (smooth transition) */
    /* 4. animation-delay: 0s */
    /* 5. animation-iteration-count: infinite */
    /* 6. animation-direction: normal */
    
    animation: bounce 6s ease-out 0s infinite;
    
    /* Other crucial styling for a ball effect */
    /* display: inline-block; */
    /* position: relative; Essential for transform to work */
}